<div id="<%= id %>" class="toolbar">
  <ul>
    <li><a data-wysihtml5-command="bold" title="Bold"><b>B</b></a></li>
    <li><a data-wysihtml5-command="italic" title="Italic"><i>I</i></a></li>
    <li><a data-wysihtml5-command="underline" title="underline"><u>U</u></a></li>
    <li><a data-wysihtml5-command="insertHr" title="Hr">分割线</a></li>
    <li><a data-wysihtml5-command="insertImage" class="insertImage" title="Image">图片</a></li>
  </ul>

  <div class="dialog" data-wysihtml5-dialog="insertImage" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    <label>
      Image:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="src" value="http://" id="image_url">
    </label>
    <div style="clear: both;"></div>
  </div>
  
</div>
